
.form{
    width: 400px;
    margin: 20px auto;
    color: #000;

}
label, input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
select{
    width: 100%;
    margin-bottom: 10px; 
}
.validation{
    background: green;
    color: #fff;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
	height: 100px;
}
th{
	background: #f40c80;
	color: #fff;
}
td, th{
	padding: 7px;
	text-align: left;
	border: 1px solid #000;
}
.error{
    background: red;
    color: #fff;
}
label{
    font-weight: bold ! important;
    padding-left: 0 !important;
}
.titre-photo{
    color: blue;
    font-size: 20px;
}
.photos{
    height: 130px;
    margin-top: 10px;
}
.date{
    display: inline-block;
}
.produits_salles{
    border: 1px solid grey;
}
.premiere_ligne_photo{
    padding-top: 20px;
}