
.form{
    width: 400px;
    margin: 20px auto;
    color: #000;

}
label, input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
select{
    width: 100%;
    margin-bottom: 10px; 
}
.validation{
    background: green;
    color: #fff;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
	height: 100px;
}
th{
	background: #f40c80;
	color: #fff;
}
td, th{
	padding: 7px;
	text-align: left;
	border: 1px solid #000;
}
.sidebar{
    height: 800px;
    background: #65B6EB;
}
.mainbar{
    height: 800px;
    background: #66BC66;
}